<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sj.springbootadmin.mapper.MenuMapper" >
    <resultMap id="MenuResultMap" type="com.sj.springbootadmin.entity.Menu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentID" jdbcType="INTEGER" />
        <result column="is_parent" property="isParent" jdbcType="BIT" />
        <result column="order_id" property="orderID" jdbcType="INTEGER" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime"/>
    </resultMap>
    <resultMap id="MenuResultMap2" type="com.sj.springbootadmin.entity.Menu"
               extends="MenuResultMap">
        <association property="parentMenu" javaType="com.sj.springbootadmin.entity.Menu"
                     column="parent_id" select="getParentMenu" />
    </resultMap>
    <select id="getParentMenu" resultMap="MenuResultMap">
        select id,name,url,parent_id,is_parent,order_id,icon,create_time
        from sys_menu where id=#{parentID,jdbcType=INTEGER} and (is_deleted is null or is_deleted=0)
    </select>
    <select id="getAllMenu" resultMap="MenuResultMap2">
        select id,name,url,parent_id,is_parent,order_id,icon,create_time
        from sys_menu where is_deleted is null or is_deleted=0
    </select>
    <select id="getRootMenus" resultMap="MenuResultMap">
        select id,name,url,parent_id,is_parent,order_id,icon,create_time
        from sys_menu where parent_id=0 and ( is_deleted is null or is_deleted=0)
    </select>
    <select id="getSubMenus" resultMap="MenuResultMap">
        select id,name,url,parent_id,is_parent,order_id,icon,create_time
        from sys_menu where parent_id=#{parentID,jdbcType=INTEGER} and ( is_deleted is null or is_deleted=0)
    </select>
    <select id="getUserAllAuthMenu" resultMap="MenuResultMap" parameterType="java.lang.Integer">
        select id,name,url,parent_id,is_parent,create_time from sys_menu
        where FIND_IN_SET(id,getUserAllAuthMenu(#{userID}))
    </select>
</mapper>